input{
        border:1px solid teal;
        background: transparent;
        font-size: 15px;
        outline: none;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;

  
}